body {
    background: #c4c4c4;
}

.container.main {
    margin-top: 7em;
}

i.icon {
    font-size: 2.5em;
}

.ui.segment {
    background: #fffefe;
    margin-top: 50px !important;
    border-radius: 0%;
}

.ui.main.text.container {
    background: #fffdfd;
    border-radius: 0.28rem;
}

.ui.huge.header.center.aligned {
    background: #fffefe;
    font-size: 2.5em;
}

#delete {
    display: inline;
}